**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.g.dart
*.freezed.dart
*.mocks.dart
**/android/.gradle
**/android/captures/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
**/android/**/*.keystore
**/android/**/*.jks
**/ios/**/Pods/
**/ios/**/xcuserdata
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/Runner/GeneratedPluginRegistrant.*
google-services.json
GoogleService-Info.plist
lib/firebase_options.dart
.env
*.env
coverage/
.idea/
.vscode/
.DS_Store
Thumbs.db